body{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-image: url(../public/img/Galeria/fondo\ principal.png);
  background-repeat: no-repeat;
  background-size: 1400px 1200px;
}

.holder{
  max-width: 1200px;
  margin: 0 auto;
}

h2{
  color: #2e64a1;
  font-weight: 400;
  margin: 10px 0 0.5em;
  font-size: 2.3em;
}

p{
  margin-bottom: 2.5em;
  font-size: 1em;
}

.left{
  float: left;
}

.right{
  float: right;
}