.zona{
    width: 350px;
    height: 200px;
    position: relative; 
    float: left;
    margin: 1.5em;
    display: flex;
    justify-content: space-evenly;
  }
  
.zona a {
    margin: auto;  
    color: #fff;
    text-align: center;    
    line-height: 200px;     
    background: #000;
    transition: opacity .4s linear;
    cursor: pointer;  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
  
.zona:hover a {
    opacity: .75;  
  }

.container-all{
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
}

.container-all:target{
    background-color: rgba(0, 0, 0, 0.8);
    visibility: visible;
    opacity: 1;
}

.nextb{
  display: block;
  color:#30d3b0;
  text-decoration: none;
  text-align: center;
  font-size: 50px;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
  text-shadow: 0 0 5px white    
}

.nextb:hover{
  font-size: 60px;
  text-shadow: 0 0 10px white;
  transition: 0.3s;
}

.closeb{
    width: 10px;
     height: 10px;
     position: absolute;
     padding: 10px;
     top: 1px;
     right: 140px;
     background-color: rgb(196, 34, 34);
     color: white;
     border-radius: 50%;
     line-height: 15px;
     text-decoration: none;
     border-width: medium;
     border-color: white;
     border-style: double;
     box-shadow: 0px 0px 30px white; 
}

@media screen and (max-width: 600px) {
  .zona{
    width: 100%;
    height: 200px;
    position: relative; 
    float: left;
    margin: 1.5em;
    display: flex;
    justify-content: space-evenly;
    
  }

  .zona a {
    width: 72%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .closeb{
    width: 10px;
         height: 10px;
         position: relative;
         padding: 10px;
         top: -130px;
         right: 130px;
         background-color: black;
         color: white;
         border-radius: 50%;
         line-height: 15px;
         text-decoration: none;
         border-width: medium;
         border-color: white;
         border-style: double;
         box-shadow: 0px 0px 30px white; 
    
  }
}